@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Learn asp.net c# crud from github  </h2>
    <ol>
        <li>C# crud with MySQL (MACOS)</li>
        <li>C# crud with SQL SERVER (MACOS) </li>
    </ol>
</div>
